.main_content
  #recipe_top.row
    .col-md-4
      = image_tag @icecream.image.url(:medium), class: "recipe_image"
    .col-md-8
      #recipe_info
        %p.title= @icecream.title
        %p= @icecream.description
        %p= "Preço R$ #{@icecream.price}"

  .row
    .col-md-12
      = link_to "Voltar", root_path, class: "btn btn-default"
      - if user_signed_in?
        = link_to "Editar", edit_icecream_path, class: "btn btn-default"
        = link_to "Deletar", icecream_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default"
